.form-content {
  width: 789px;
  height: 90px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-style: italic;
  position: relative;
  margin-top: 80px;
}
.form-content h2 {
  font-size: 15px;
  font-family: serif;
  color: #EE4367;
}
.form-content h1 {
  font-size: 10px;
  font-family: serif;
  color: #A8A8A8;
}